
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #AD93F4;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  font-weight: bold;
}
ul{
  display: flex;
  justify-content: space-evenly;
}
li{
  list-style: none;
  background: #E9E8EC;
  height:25px;
  width:25px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

input{
  padding:10px;
}
